
.app {
  flex-grow: 1;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__headline {
    text-decoration: underline;
    color: rgb(0, 255, 13);
  }
}

